.ipynb_checkpoints/
aircraft-data/
database.ini
training_data/
reduced_training_data/
*.data
*.data-00000-of-00002
*.data-00001-of-00002
*.ckpt.data-00000-of-00002
*.ckpt.data-00001-of-00002
*.ckpt
.tmp.drivedownload/
checkpoints/20-06-2020-14-30-32/final_model.h5